# Telegraf configuration file.

###############################################################################
# TAGS                                                                        #
###############################################################################

[tags]
{% for item in telegraf_config_tags %}
  {{ item }}
{% endfor %}

###############################################################################
# AGENT                                                                       #
###############################################################################

[agent]
{% for item in telegraf_config_agent %}
  {{ item }}
{% endfor %}

###############################################################################
# OUTPUTS                                                                     #
###############################################################################

[outputs]

{% for item in telegraf_config_outputs %}
[[outputs.{{ item.output }}]]
{% if item.config is defined %}
{% for item in item.config %}
  {{ item }}
{% endfor %}
{% endif %}

{% endfor %}

###############################################################################
# PLUGINS                                                                     #
###############################################################################

[plugins]

{% for item in telegraf_config_plugins %}
[[plugins.{{ item.plugin }}]]
{% if item.config is defined %}
{% for item in item.config %}
  {{ item }}
{% endfor %}
{% endif %}

{% endfor %}
