# Telegraf configuration

###############################################################################
# TAGS                                                                        #
###############################################################################

[tags]
{% for item in telegraf_conf_tags %}
  {{ item }}
{% endfor %}

###############################################################################
# AGENT                                                                       #
###############################################################################

[agent]
  interval = "{{ telegraf_conf_agent_interval }}"
  round_interval = {{ telegraf_conf_agent_round_interval|lower }}
  flush_interval = "{{ telegraf_conf_agent_flush_interval }}"
  flush_jitter = "{{ telegraf_conf_agent_flush_jitter }}"
  debug = {{ telegraf_conf_agent_debug|lower }}
  hostname = "{{ telegraf_conf_agent_hostname }}"

###############################################################################
# OUTPUTS                                                                     #
###############################################################################

{% for key, value in telegraf_conf_outputs.iteritems() %}
[[outputs.{{ key }}]]
{% for item in value %}
  {{ item }}
{% endfor %}

{% endfor %}

###############################################################################
# INPUTS                                                                      #
###############################################################################

{% for key, value in telegraf_conf_inputs.iteritems() %}
[[inputs.{{ key }}]]
{% for item in value %}
  {{ item }}
{% endfor %}

{% endfor %}
